* body {
	text-align: center;
	background-color: rgba(var(--b3f,250,250,250),1);
	font-family: 'Raleway', sans-serif;

}

p {
	font-weight: bold;
	color: white;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}

a {
    color: grey;
    text-decoration: none;
}


/* bild för feed */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 54%;
  height: auto;
  min-width: 300px;
  max-height: 450px;
  margin-bottom: 0px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* dålig lösning men visar funktionen iallfall */
under.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 54%;
  height: auto;
  min-width: 300px;
  max-height: 450px;
  margin-bottom: 0px !important;
  border: 10px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


h1 {
	font-size: 40px;
	padding-top: 100px;
	padding-bottom: 100px;
	color: grey;
	font-weight: bold;
}

.fa {
	font-size: 22px !important;
}

#position {
	width: 20%;
	margin-bottom: 100px !important;
}

/* box under bild */
 .caption {
	background-color: white;
	text-align: left;
	padding-top: 8px;
	padding-left: 15px;
    font-size: 15px;
    color: black; 
    text-align: top-left;
    background-color: #fff;
    width: 54%;
    height: 120px;
	min-width: 300px;
    margin-left: auto;
    margin-right: auto;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 50px;

}

 .captionlike {
	background-color: white;
	text-align: right;
	padding-top: 8px;
	padding-right: 15px;
    font-size: 15px;
    color: black; 
    text-align: top-left;
    background-color: #fff;
    width: 54%;
    height: 40px;
	min-width: 300px;
    margin-left: auto;
    margin-right: auto;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	box-shadow: 5px 0 5px -4px rgba(0, 0, 0, 0.2), -7px 0 8px -4px rgba(0, 0, 0, 0.19);

}

/* kommentar box */
 .captioncomment {
	background-color: white;
	padding-top: 8px;
	padding-left: 15px;
    font-size: 15px;
    color: black; 
    text-align: top-left;
    background-color: #fff;
    width: 54%;
    height: 100px;
	min-width: 300px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 30px;
	border: 1px solid lightgrey;
}

/* box ovanför bild */

 .captiontop {
	background-color: white;
	height: 50px;
    font-size: 20px;
	padding-left: 15px;
    color: black; 
    text-align: left;
    background-color: #fff;
    width: 54%;
	min-width: 300px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 8px;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.page-footer {
	margin-top: 30px;
}

#footerlink {
    color: grey;
    text-decoration: none;
    font-size: 20px;
}



.topnav {
    background-color:lightgrey;
    overflow: hidden;
    
  }
  
  
  .topnav a {
    float: left;  
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
  }
  
  
  .active {
    background-color:lightgrey;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }


  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: lightblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  
  
